{% extends 'Head_FootMain.html' %}
{% load static %}

{% block content %}




<!-- Hero -->
<section class="jarallax position-relative d-flex align-items-center min-vh-100 bg-light mb-5 py-lg-5 pt-5" style="background-image: url({% static 'wisfinitv0/assets/img/landing/digital-agency/hero-bg.svg' %});" data-jarallax data-img-position="0% 100%" data-speed="0.5">
  <div class="container position-relative zindex-5 py-5">
    <div class="row justify-content-md-start justify-content-center">
      <div class="col-md-6 col-sm-8 order-md-1 order-2 d-flex flex-column justify-content-between mt-4 pt-2 text-md-start text-center">
        <div class="mb-md-5 pb-xl-5 mb-4">

          <!-- Video popup btn -->
          <!--                <div class="d-inline-flex align-items-center position-relative mb-3">
                            <a href="#howdoesitwork" class="btn btn-video btn-icon btn-lg flex-shrink-0 me-3 stretched-link">
                              <i class="bx bx-play"></i>
                            </a>
                            <h4 class="mb-0">See how it works!</h4>
                          </div>-->

          <!-- Text -->
          <h1 class="display-2 mb-md-5 mb-3 pb-3">
            Your one-stop solution for career <span class="text-gradient-primary">transitions</span>
          </h1>
          <div class="d-md-flex align-items-md-start" style= "max-width: 450px">
            <p class="fs-5">A shared community where we empower humans to navigate their next career transitioning by finding the right wisdom at the right time.</p>


          </div>
          <div class="d-md-flex align-items-md-start">
            <p class="d-lg-block d-none mb-0 ps-md-3"></p>
            <a href="https://tau83y8h4yq.typeform.com/to/o7X1EJfC" class="btn btn-lg btn-primary flex-shrink-0 me-md-4 mb-md-0 mb-sm-4 mb-3" style= "margin-top: 10%;">Join Waitlist</a>

          </div>
        </div>

        <!-- Scroll down btn -->
        <div class="d-inline-flex align-items-center justify-content-center justify-content-md-start position-relative">
          <a href="#features" data-scroll data-scroll-offset="100" class="btn btn-video btn-icon rounded-circle shadow-sm flex-shrink-0 stretched-link me-3">
            <i class="bx bx-chevron-down"></i>
          </a>
          <span class="fs-sm">What makes us different?</span>
        </div>
      </div>

      <!-- Animated gfx -->
      <div class="col-sm-6 col-sm-6 col-9 order-md-2 order-1">
        <lottie-player class="mx-auto" src="{% static 'wisfinitv0/assets/json/animation-digital-agency.json' %}" background="transparent" speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>

<!-- New Added function from other template -->


<!-- How does it work -->

<section id="howdoesitwork" class="container mb-5 pb-lg-5 pt-2 pt-md-4">

  <section class="container pt-2 pt-lg-0 pb-5 mb-md-4 mb-lg-5">
    <h2 class="h1 text-center pb-3 pb-lg-4">Creating Value Across Generations</h2>

    <!-- Nav tabs -->


    <!-- Tab panes -->
    <div class="tab-content  rounded-3 py-4">

      <!-- Current Students -->
      <div class="tab-pane fade active show" id="CurrentStudent" role="tabpanel" aria-labelledby="Current-Students-tab">

        <div class="row align-items-center my-3 py-md-3 py-lg-5">
          <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1 pb-md-4">
            <h1 class="pb-3">  Match journeys, not titles </span></h1>
            <ul class="list-unstyled pb-3 mb-3">
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                Understands your past journey, present challenges & career transition goals in under 5 minutes
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                Algorithms that match you with members who have made your dream career transitions
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                Intuitive matching to find members who have bravely overcome challenges that overwhelm you today!

              </li>
            </ul>
            <!--              <p>We match glorious journeys, not optimized keywords. Our intuitive matching algorithm finds you a role model who has similar past experiences, overcame your present struggles, or works in your dream profession. We know pivots are hard and we want to make your journey as painless as possible!</p>-->
            <a href="https://tau83y8h4yq.typeform.com/to/o7X1EJfC" class="btn btn-primary">
              Join Waitlist
              <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
            </a>
          </div>

          <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 order-md-2 mb-2 mb-md-0 pb-4 pb-md-0">
            <div class="position-relative mx-auto mx-md-0" style="max-width: 469px;">
              <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Wisfinit-HIW-Matching_011.png' %} class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
              <div class="rellax position-absolute top-0 end-0 w-100 h-100" data-rellax-percentage="0.5" data-rellax-speed="0.75" data-disable-parallax-down="md">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Wisfinit-HIW-Matching_02.png' %} alt="Screen">
              </div>
            </div>
          </div>

        </div>


        <div class="row align-items-center mt-2 mt-md-0 pt-5 pt-md-4 pt-lg-0 pb-md-3 pb-lg-5">
          <div class="col-md-6 col-lg-5 offset-xl-1 mb-2 mb-md-0 pb-4 pb-md-0">
            <div class="position-relative mx-auto mx-md-0" style="max-width: 462px;">
              <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Wisfinit-HIW-Mentor_01_01.png' %} class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
              <div class="rellax position-absolute top-0 end-0 w-100 h-100 me-md-n3" data-rellax-percentage="0.5" data-rellax-speed="0.75" data-disable-parallax-down="md">

              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-5 offset-lg-1">
            <h1 class="pb-3">Give wisdom, to get wisdom</h1>
            <ul class="list-unstyled pb-3 mb-3">
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                A wisdom economy rooted in reciprocity & powered by WizCoins. Earn Wizcoins by giving wisdom & encash wizCoins to get wisdom!
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                Accelerate this process by activating cool accelerators . Record a 30-second advice video to instantly 10x your Wizcoins!
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                We enable you to enable yourself & 1000 others at the same time. Why? So the entire community leaps, together

              </li>
            </ul>
            <a href="https://tau83y8h4yq.typeform.com/to/o7X1EJfC" class="btn btn-primary">
              Join Waitlist
              <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
            </a>
          </div>
        </div>

        <div class="row align-items-center my-3 py-md-3 py-lg-5">
          <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 order-md-2 mb-2 mb-md-0 pb-4 pb-md-0">
            <div class="position-relative mx-auto mx-md-0" style="max-width: 469px;">
              <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Wisfinit-HIW-Leap_01_01.png' %} class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
              <div class="rellax position-absolute top-0 end-0 w-100 h-100" data-rellax-percentage="0.5" data-rellax-speed="0.75" data-disable-parallax-down="md">

              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1 pb-md-4">
            <h1 class="pb-3">Lift, as you Climb</h1>
            <ul class="list-unstyled pb-3 mb-3">
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                We keep your dream role models informed of your intent and motivation in real time
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                We enable community members to vouch for each other for jobs, projects & other opportunities
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
                WisFinit empowers members to request & give referrals in an organized and organic way

              </li>
            </ul>

            <a href="https://tau83y8h4yq.typeform.com/to/o7X1EJfC" class="btn btn-primary">
              Join Waitlist
              <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
            </a>
          </div>
        </div>
        <!-- Extra spacing for dark mode only -->
        <div class="pt-5 d-none d-dark-mode-block"></div>
      </div>



    </div>
  </section>

  <!-- Features -->
  <section id="features" class="container pt-lg-2 pt-xl-3 pb-3 pb-xl-5 mt-n2 mt-sm-0 mb-2 mb-md-4 mb-lg-5">
    <div class="row pb-xl-3">

      <!-- Parallax gfx -->
      <div class="col-lg-5 d-none d-lg-block">
        <div class="position-relative" style="max-width: 450px;margin-top: 5%;">
          <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/UniFeatures_v6.png' %} class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
        </div>
      </div>

      <!-- Feature list -->
      <div class="col-lg-7">
        <h2 class="h1 text-center text-md-start mb-4">What's in it for universities?</h2>
        <p class="fs-lg text-muted text-center text-md-start mb-4 mb-xl-5"></p>
        <div class="row row-cols-1 row-cols-sm-2 pt-2 pt-sm-3 pt-xl-2">

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start pe-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Analytics.svg' %} width="28" height="28" alt="Analytics">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Track real-time impact & engagement</h3>
                <p class="mb-0">Empower career teams to track engagement, conversations and career leaps</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start ps-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Customise.svg' %} width="28" height="28" alt="Custom">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Configure & customize workflows</h3>
                <p class="mb-0">Enable admin teams to configure engagement workflows & create on-demand events</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start pe-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Share.svg' %} width="28" height="28" alt="Share">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Instantly broadcast career leaps</h3>
                <p class="mb-0">Enable members to instantly broadcast career leaps across social networks</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start ps-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Bater.svg' %} width="28" height="28"  alt="Sync">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Integrate with career ecosystem</h3>
                <p class="mb-0">Enrich members by syncing their job search with this rich maze of mentors & referrals.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>



  <!-- Features -->
  <section id="features-uni" class="container pt-lg-2 pt-xl-3 pb-3 pb-xl-5 mt-n2 mt-sm-0 mb-2 mb-md-4 mb-lg-5">
    <div class="row pb-xl-3">

      <!-- Parallax gfx -->

      <!-- Feature list -->
      <div class="col-lg-7">
        <h2 class="h1 text-center text-md-start mb-4">What's in it for students?</h2>
        <p class="fs-lg text-muted text-center text-md-start mb-4 mb-xl-5"></p>
        <div class="row row-cols-1 row-cols-sm-2 pt-2 pt-sm-3 pt-xl-2">

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start pe-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Match.svg' %} width="28" height="28" alt="Journey Mapping">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Journey-driven mentor-matching</h3>
                <p class="mb-0">Enable members to find mentors based on shared aspirational journeys, not generic titles</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start ps-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/Bater_2.svg' %} width="28" height="28" alt="Barter">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">100% barter-based wisdom economy </h3>
                <p class="mb-0">Mentor community members & get mentored by your dream. Give wisdom to get wisdom</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start pe-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/referral.svg' %} width="28" height="28" alt="Referrals">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Organic, seamless career referrals</h3>
                <p class="mb-0">Empower community members to request for job referrals or voluntarily vouch for each other</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
            <div class="d-flex align-items-start ps-xl-3">
              <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/rocket.svg' %} width="28" height="28" alt="Leaps">
              </div>
              <div class="ps-4 ps-sm-3 ps-md-4">
                <h3 class="h5 pb-1 mb-2">Mutual, exponential community leaps </h3>
                <p class="mb-0">Lift others as you climb your unique career ladder. Help others take leaps as you take your own! </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <div class="position-relative" style="max-width: 348px; margin-left: 30%; margin-top: 15%;">
          <img src={% static 'wisfinitv0/assets/img/landing/app-showcase/features/StudentFeatures_v1.png' %} class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
        </div>


      </div>
    </div>
  </section>







  <!-- Awards -->
  <section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row gy-4 py-xl-2">
      <div class="col-md-4">
        <h2 class="mb-0 text-md-start text-center">Proud to be building with </h2>
      </div>
      <div class="col-lg-7 offset-lg-1 col-md-8">
        <div class="row row-cols-sm-4 row-cols-2 gy-4">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">
            <div class="position-relative text-center">
              <img src="{% static 'wisfinitv0/assets/img/landing/digital-agency/awards/Cambridge-university.png' %}" width="100" alt="Accelerate Cambridge" class="d-block mx-auto mb-3">
              <a href="https://www.jbs.cam.ac.uk/entrepreneurship/programmes/accelerate-cambridge/ventures/pre-accelerate/#wisfinit" class="text-body justify-content-center fs-sm stretched-link text-decoration-none">Accelerate Cambridge</a>
            </div>
          </div>
          <div class="col">
            <div class="position-relative text-center">
              <img src="{% static 'wisfinitv0/assets/img/landing/digital-agency/awards/hatch.png' %}" width="100" alt="Hatch" class="d-block mx-auto mb-3">
              <a href="https://www.hatch.blue/" class="text-body justify-content-center fs-sm stretched-link text-decoration-none">Hatch Accelerator</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>


  <!-- Contact CTA -->
  <section class="container pt-3 pb-4 pb-md-5" style="margin-top: -156px; margin-bottom: 120px; transform: translateY(156px);">
    <div class="card border-0 bg-gradient-primary">
      <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url({% static 'wisfinitv0/assets/img/landing/digital-agency/contact-bg.png' %});">
        <div class="py-md-5 py-4 text-center">
          <h3 class="h4 fw-normal text-light opacity-75">Want to know more about us? Let’s talk</h3>
          <a href="mailto:hello@wisfinit.com" class="display-6 text-light">hello@wisfinit.com</a>
          <div class="pt-md-5 pt-4 pb-md-2">
            <a href="https://tau83y8h4yq.typeform.com/to/o7X1EJfC" class="btn btn-lg btn-light">Join Waitlist</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </main>




  {% endblock content %}